html,
body {
  height: 100%;
  margin: 0;
  overflow: hidden; /* Prevent scrollbars */
}

.menu-container {
  height: calc(100vh - 200px); /* Adjust this value based on your layout */
  overflow-y: auto; /* Enable vertical scrolling */
  overflow-x: hidden; /* Prevent horizontal scrolling */
}

.pointer {
  cursor: pointer;
}
